body{
	margin: 0;
	background-image: url(../imagenes/Fondo01.jpg);
	background-repeat: no-repeat;
	font-family: sans-serif;	
}

header{
	width: 100%;
	background: #9217fd;
	text-align: center;
	color: #FAFAFA;
	font-size: 40px;
}

nav{
	width: 100%;
	background: #9C63C8;
}

#btn-menu{
	cursor: pointer;
	display: none;
}

nav label{
	display: none;
	width: 30px;
	height: 30px;
	padding: 10px;
	border-right: 1px solid #040404;
}

nav label:hover{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
}

nav ul{
margin: 0;
list-style: none;
padding: 0;
display: flex;
}

nav ul li{
	text-align: center;
	flex-grow: 1;
}

nav ul li:hover{
	background: rgba(0, 0, 0, 0.3);
}

nav ul li a{
	display: block;
	padding: 15px 20px;
	color: #FAFAFA;
	text-decoration: none;
}

@media(max-width: 768px){
	nav label{
		display: block;
	}

	.menu{
		position: absolute;
		background: #9C63C8;
		width: 70%;
		margin-left: -70%;
		transition: all 0.5s;
	}

	.menu ul{
		flex-direction: column;
	}
	.menu li {
		border-top: 1px solid #fff;
	}

	#btn-menu:checked ~ .menu {
		margin: 0;
	}
}